@CHARSET "UTF-8";

.contents
{
	position: absolute;
	top: 0px;
	right: 0px;
 	bottom: 0px;
 	left: 0px;
 	margin: auto;
 	overflow:hidden;
}
.ranking
{
	font-family:Kouzan,Aoyanagi;
	color:white;
	font-size:1.7em;
	width: 100%;
 	height: 95%;
 	overflow:hidden;
}
.period
{
	font-family:Kouzan,Aoyanagi;
	color:white;
	font-size:1.5em;
	padding:0;
	margin: 0;
	cursor:pointer;
	text-decoration: none;
	border-bottom: solid 1px white;
}
/*table th
{
	vertical-align: middle;
	margin: 0;
	text-align: left;
	padding:20px 5px;
	width:150px;
}
thead, tbody
{
	display: block;
}
tbody
{
    height: 450px;
    width: 1280px;
}
.head-column
{
	width:150px;
}
.data-column
{
	white-space: nowrap;
	overflow: hidden;
	padding:10px 10px;
	vertical-align: middle;
	text-align: center;
	width:100px;
}
.data-cell
{
	vertical-align: middle;
	margin: 0;
	text-align: center;
}
.data-total
{
	white-space: nowrap;
	overflow: hidden;
	padding:10px 10px;
	vertical-align: middle;
	text-align: center;
	font-size:1.5em;
}*/
#lean_overlay  {
	position: fixed; z-index:100;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: #000;
	display: none;
}

#modal-window {
	background-color: #FFFFFF;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
	display: none;
	padding: 30px;
	width: 400px;
	height: 400px;
	color:#000000;
	border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}
.square_btn{
    display: inline-block;
    padding: 0.5em 0.75em;
    text-decoration: none;
    border-radius: 3px;
    font-weight: bold;
    color: #FFF;
    background-image: -webkit-linear-gradient(45deg, #69e071 0%, #b3edaa 100%);
    background-image: linear-gradient(45deg, #69e071 0%, #b3edaa 100%);
    transition: .4s;
    cursor:hand;
    font-family:Kouzan,Aoyanagi;
    font-size:1.25em;
}

.square_btn:hover{
    background-image: -webkit-linear-gradient(45deg, #69e071 50%, #b3edcf 100%);
    background-image: linear-gradient(45deg, #69e071 50%, #b3edcf 100%);
}
.lbl
{
	font-size:1.5em;
	font-family:Kouzan,Aoyanagi;
}
.cp_ipselect {
	overflow: hidden;
	width: 90%;
	margin: 2em auto;
	text-align: center;
}
.cp_ipselect select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
.cp_ipselect select::-ms-expand {
	display: none;
}
.cp_ipselect.cp_sl01 {
	position: relative;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	background: #ffffff;
}
.cp_ipselect.cp_sl01::before {
	position: absolute;
	top: 0.8em;
	right: 0.9em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666666;
	pointer-events: none;
}
.cp_ipselect.cp_sl01 select {
	padding: 8px 38px 8px 8px;
	color: #666666;
	font-family:Kouzan,Aoyanagi;
    font-size:1.25em;
}
.btnarea
{
	padding-left:310px;
}
.sticky_table {
  	display: block;
  	position: relative;
  	overflow: hidden;
 	height: 530px;
    width: 1280px;
  	border-collapse: collapse;
  	font-size: 0;
}
.sticky_table thead,
.sticky_table tbody,
.sticky_table tfoot
{
  	display: block;
  	width: -webkit-max-content;
  	width: -moz-max-content;
  	width: max-content;
  	font-size: 0;
  	margin: 0 -10px;
}
.sticky_table th,
.sticky_table td {
  	display: inline-block;
  	width:120px;
  	font-size:1.7rem;
  	white-space: nowrap;
	padding:10px 10px;
	vertical-align: middle;
	text-align: center;
}
.sticky_table tbody th {
  	position: -webkit-sticky;
  	position: sticky;
  	left: 0;
  	z-index: 1;
  	vertical-align: middle;
	margin: 0;
	text-align: left;
	padding:20px 10px;
}
.sticky_table thead {
  	position: -webkit-sticky;
  	position: sticky;
  	top: 0;
  	z-index: 2;
}
.sticky_table thead th.blank {
  	position: -webkit-sticky;
  	position: sticky;
  	top: 0;
  	left: 0;
  	z-index: 3;
}
.sticky_table thead td {
  	font-size:1.8rem;
}
.sticky_table tfoot {
  	position: -webkit-sticky;
  	position: sticky;
  	top: 0;
  	z-index:2;
}
.sticky_table tfoot th.blank {
  	position: -webkit-sticky;
  	position: sticky;
  	top: 0;
  	left: 0;
  	z-index: 3;
  	font-size:3rem;
}
.sticky_table tfoot td {
  	font-size:2.2rem;
}
#page-top {
	position: absolute;
    right: 0;
    top: 20px;
    font-size: 77%;
}
#page-bottom {
	position: absolute;
    right: 0;
    bottom: 0;
    font-size: 77%;
}
#page-top a,
#page-bottom a
{
    background: #666;
    text-decoration: none;
    color: #fff;
	width: 20px;
    height:20px;
    text-align: center;
    display: block;
    border-radius: 20px;
}
#page-top a:hover,
#page-bottom a:hover
{
    text-decoration: none;
    background: #999;
}