@CHARSET "UTF-8";

.record
{
	width: 100%;
 	height: 95%;
 	overflow:hidden;
}
.record-date
{
	padding:10px 8px;
}
.record-create
{
	font-size:3em;
}
.period
{
	font-family:Kouzan,Aoyanagi;
	color:white;
	font-size:0.8em;
	padding:0;
	padding-left:80px;
	margin: 0;
	cursor:pointer;
	text-decoration: none;
}
.newcreate
{
	padding:0;
	font-size:0.7em;
	border-bottom: solid 1px white;
}
#lean_overlay  {
	position: fixed; z-index:100;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: #000;
	display: none;
}

#modal-window {
	background-color: #FFFFFF;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
	display: none;
	padding: 30px;
	width: 900px;
	height: 760px;
	color:#000000;
	border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}
.square_btn{
    display: inline-block;
    padding: 0.5em 0.75em;
    text-decoration: none;
    border-radius: 3px;
    font-weight: bold;
    color: #FFF;
    background-image: -webkit-linear-gradient(45deg, #69e071 0%, #b3edaa 100%);
    background-image: linear-gradient(45deg, #69e071 0%, #b3edaa 100%);
    transition: .4s;
    cursor:hand;
    font-family:Kouzan,Aoyanagi;
    font-size:1.25em;
}

.square_btn:hover
{
    background-image: -webkit-linear-gradient(45deg, #69e071 50%, #b3edcf 100%);
    background-image: linear-gradient(45deg, #69e071 50%, #b3edcf 100%);
}
.delete_btn{
    display: inline-block;
    padding: 0.5em 0.75em;
    text-decoration: none;
    border-radius: 3px;
    font-weight: bold;
    color: #FFF;
    background-image: -webkit-linear-gradient(45deg, #e06988 0%, #edaac1 100%);
    background-image: linear-gradient(45deg, #e0697c 0%, #edb3c2 100%);
    transition: .4s;
    cursor:hand;
    font-family:Kouzan,Aoyanagi;
    font-size:1.25em;
}

.delete_btn:hover
{
    background-image: -webkit-linear-gradient(45deg, #e06988 50%, #edaac1 100%);
    background-image: linear-gradient(45deg, #e0697c 50%, #edb3c2 100%);
}
.lbl
{
	font-size:1.5em;
	font-family:Kouzan,Aoyanagi;
}
.textbox
{
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	background: #ffffff;
	padding: 8px 38px 8px 8px;
	color: #666666;
	font-family:Kouzan,Aoyanagi;
    font-size:1.25em;
}
.inputarea
{
	display: inline-block;
	margin: 0 auto;
	padding: 0.7em 0.7em 0 0.9em;
}
.txt-title {
	width:830px;
}
.btnarea
{
	display:block;
	margin: 0 auto;
	padding: 0.7em 0.7em 0 0.9em;
	float:right;
}
.recordarea
{
	font-family:Kouzan,Aoyanagi;
	font-size:1em;
	margin:30px 0;
	width:98%;
	height:65%;
	/*overflow:auto;*/
	overflow:hidden;
}
/*table th
{
	vertical-align: middle;
	margin: 0;
	text-align: left;
	padding:5px 1px;
}
table td
{
	vertical-align: middle;
	margin: 0;
	text-align: center;
}
.data-column
{
	overflow: hidden;
	vertical-align: middle;
	text-align: center;
}*/
.record-input
{
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	background: #ffffff;
	color: #666666;
	font-family:Kouzan,Aoyanagi;
	font-size:1.8em;
    width:74px;
}
.record-time
{
	margin-left: 40px;
}
.record-title
{
	margin-left: 40px;
}

.sticky_table {
  	display: block;
  	position: relative;
  	overflow: hidden;
 	width:100%;
	height:100%;
  	border-collapse: collapse;
  	font-size: 0;
}
.sticky_table thead,
.sticky_table tbody
{
  	display: block;
  	width: -webkit-max-content;
  	width: -moz-max-content;
  	width: max-content;
  	font-size: 0;;
}
.sticky_table th,
.sticky_table td {
  	display: inline-block;
  	width:100px;
  	font-size:1rem;
  	white-space: nowrap;
	padding:3px 1px;
	vertical-align: middle;
	text-align: center;
}
.sticky_table tbody th {
  	position: -webkit-sticky;
  	position: sticky;
  	left: 0;
  	z-index: 1;
  	vertical-align: middle;
	margin: 0;
	text-align: left;
	padding:5px 1px;
}
.sticky_table thead {
  	position: -webkit-sticky;
  	position: sticky;
  	top: 0;
  	z-index: 2;
}
.sticky_table thead th.blank {
  	position: -webkit-sticky;
  	position: sticky;
  	top: 0;
  	left: 0;
  	z-index: 3;
}
.sticky_table thead td {
  	font-size:1.3rem;
}
.record_table {
  	display: block;
  	position: relative;
  	overflow: hidden;
 	height: 530px;
    width: 1280px;
  	border-collapse: collapse;
}
#page-top {
	position: absolute;
    right: 0;
    top: 40px;
    font-size: 40%;
}
#page-bottom {
	position: absolute;
    right: 0;
    bottom: 0px;
    font-size: 40%;
}
#page-top a,
#page-bottom a
{
    background: #666;
    text-decoration: none;
    color: #fff;
	width: 20px;
    height:20px;
    text-align: center;
    display: block;
    border-radius: 20px;
}
#page-top a:hover,
#page-bottom a:hover
{
    text-decoration: none;
    background: #999;
}
#page-top-input {
	position: absolute;
    right: 10px;
    top: 210px;
}
#page-bottom-input {
	position: absolute;
    right: 10px;
    bottom: 85px;
}
#page-left-input {
	position: absolute;
    left: 30px;
    bottom: 60px;
}
#page-right-input {
	position: absolute;
    right: 40px;
    bottom: 60px;
}
#page-top-input a,
#page-bottom-input a,
#page-left-input a,
#page-right-input a
{
    background: #666;
    text-decoration: none;
    color: #fff;
	width: 20px;
    height:20px;
    text-align: center;
    display: block;
    border-radius: 20px;
}
#page-top-input a:hover,
#page-bottom-input a:hover,
#page-left-input a:hover,
#page-right-input a:hover
{
    text-decoration: none;
    background: #999;
}