<!DOCTYPE html>
<html>
<head>
	<title>MJ Score Table</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="../css/pulgin/normalize.css" />
	<link rel="stylesheet" href="../css/style.css" />
	<link rel="stylesheet" href="../css/pulgin/jquery.mCustomScrollbar.css" />
	<link rel="stylesheet" href="../css/pulgin/slick.css" />
	<link rel="stylesheet" href="../css/pulgin/slick-theme.css" />
	<script type="text/javascript"  src="../scripts/pulgin/jquery-1.11.3.min.js" ></script>
	<script type="text/javascript"  src="../scripts/pulgin/jquery.mCustomScrollbar.concat.min.js" ></script>
	<script type="text/javascript"  src="../scripts/pulgin/jquery.fademover.js" ></script>
	<script type="text/javascript"  src="../scripts/pulgin/slick.min.js" ></script>
	<script type="text/javascript"  src="../scripts/menu.js" ></script>
	<script type="text/javascript"  src="../scripts/home.js" ></script>
</head>
<body>
	<div class='menu'>
		<div class='menu-item select'>ホーム</div>
		<div class='menu-item'>履歴</div>
		<div class='menu-item'>集計</div>
		<div class='menu-item'>成績入力</div>
		<div class='menu-item'>予定</div>
		<div class='menu-item'>管理</div>
		<div class='menu-item'>退出</div>
	</div>
	<div class='contents'>
		<div class="slider">
			<div>
				<div class='schedule'>
				</div>
				<div class='ranking' id='tablearea'>
					<table class="brwsr2">
					    <tbody>
					    </tbody>
					</table>
				</div>
			</div>
			<div>
				<div class='yakuman'>
					<div>役満はまだ出ていません</div>
				</div>
			</div>
			<div>
				<div class='rule'>
					<div>喰いタン・後付けあり 赤ドラは各1枚</div>
					<div>ウマなし・ハコ下なし</div>
					<div>ダブロンあり・トリロン流れ</div>
					<div>
						役満祝儀<br/>
						<span class='rule-space'>・ツモ：500円オール</span><br/>
						<span class='rule-space'>・ロン：1000円</span>
					</div>
					<div>
						決勝進出条件<br/>
						<span class='rule-space'>・最終戦までの上位4名</span><br/>
						<span class='rule-space'>・トータル20半チャン以上参戦</span>
					</div>
					<div>
						決勝戦<br/>
						<span class='rule-space'>・上位4名で3半チャン勝負</span><br/>
						<span class='rule-space'>・決勝までの総得点で優劣あり</span><br/>
						<span class='rule-space'>1位	+20スタート</span><br/>
						<span class='rule-space'>2位	+10スタート</span><br/>
						<span class='rule-space'>3位	+5スタート</span><br/>
						<span class='rule-space'>4位	なし</span><br/>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>